<div class="card">
  <div class="flex justify-content-center align-items-center flex-wrap card-container" height="100">
    <div class="align-items-center justify-content-center">
      <img src="https://fond03.hb.bizmrg.com/fond_business/logo1.png" height="100">
    </div>
    <div class="align-items-center justify-content-center">
      <div style="vertical-align: middle">
        <span style="font-size: xx-large;">Микрокредитная компания</span>
        <br>
        <span style="font-size: x-large;">Фонд поддержки малого предпринимательства Республики Бурятия</span>
      </div>
    </div>
  </div>
</div>
